USE [master]
GO
/****** Object:  Database [WildlifeTracker]    Script Date: 7/31/2017 4:34:32 PM ******/
CREATE DATABASE [WildlifeTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WildlifeTracker', FILENAME = N'C:\Users\epicodus\WildlifeTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WildlifeTracker_log', FILENAME = N'C:\Users\epicodus\WildlifeTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WildlifeTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WildlifeTracker]
GO
USE [WildlifeTracker]
GO
/****** Object:  Table [dbo].[sightings]    Script Date: 7/31/2017 4:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sightings](
	[sightingId] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[latitude] [decimal](18, 0) NULL,
	[longitude] [decimal](18, 0) NULL,
	[speciesId] [int] NULL,
 CONSTRAINT [PK_sightings] PRIMARY KEY CLUSTERED 
(
	[sightingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[species]    Script Date: 7/31/2017 4:34:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[species](
	[speciesId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_species] PRIMARY KEY CLUSTERED 
(
	[speciesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[species] ON 

INSERT [dbo].[species] ([speciesId], [name]) VALUES (4, N'dog')
INSERT [dbo].[species] ([speciesId], [name]) VALUES (5, N'car')
INSERT [dbo].[species] ([speciesId], [name]) VALUES (6, N'fish')
SET IDENTITY_INSERT [dbo].[species] OFF
ALTER TABLE [dbo].[sightings]  WITH CHECK ADD  CONSTRAINT [FK_sightings_species] FOREIGN KEY([speciesId])
REFERENCES [dbo].[species] ([speciesId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sightings] CHECK CONSTRAINT [FK_sightings_species]
GO
ALTER TABLE [dbo].[species]  WITH CHECK ADD  CONSTRAINT [FK_species_species] FOREIGN KEY([speciesId])
REFERENCES [dbo].[species] ([speciesId])
GO
ALTER TABLE [dbo].[species] CHECK CONSTRAINT [FK_species_species]
GO
USE [master]
GO
