@model WildLifeTracker.Models.Species

@{
    ViewData["Title"] = "Species - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new species</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.name)
    @Html.TextBoxFor(model => model.name)

    <input type="submit" value="Create" class="btn btn-default" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
